<div class="dashboard">
  <div class="module mini-profile component">
    <div class="flex-module profile-summary">
      <h2><%= tag.name %></h2>
    </div>
    <div>
        <ul class="stats">
            <li>
                <a href="/#!/tagged/<%= tag.name %>" data-element-term="post_stats">
                    <strong><%= tag.posts_count %></strong> posts</a>
                </li>
            <li>
                <a href="/#!/tagged/followers" data-element-term="following_stats">
                    <strong><%= tag.followers_count %></strong> following</a>
            </li>
        </ul>
    </div>
  </div>
</div>
