<div class="dashboard">
  <div class="module mini-profile component">
    <div class="flex-module profile-summary">
      <a href="/#!/tagged/<%= tag %>" class="account-summary account-summary-small">
          <div class="content">
              <div class="account-group">
                  <b class="fullname"><%= tag %></b>
              </div>
          </div>
      </a>
    </div>
  </div>
</div>
